@model IEnumerable<Calcpad.web.Data.Models.SubscriptionPlan>

<h1>Subscription Plans</h1>

<p>Gain access to worksheets submitted by other users!</p>
@if (User.Identity.IsAuthenticated && User.IsInRole(Constants.RoleNames.Administrator))
{
<p class="ml-4">
    <a asp-area="Admin"
       asp-controller="Subscription"
       asp-action="Add"
       title="Add new Subscription">
        <i class="icofont-ui-add mr-2"></i>Add new subscription
    </a>
</p>
}
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Name</td>
        <td>@item.Description</td>
        <td>@item.Price</td>
        <td>
            <a asp-action="Order" asp-route-id="@item.Id">Order</a>
        </td>
    </tr>
    }
    </tbody>
</table>