@page
@model Calcpad.web.ViewModels.OrderViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Order Successful!</title>
</head>
<body>
<div>
    <h1>Order Successful!</h1>
    <p>Thank you for your order. Here are your order details:</p>
    <ul>
        <li>Activated On: @Model.ActivatedOn</li>
    </ul>
</div>
</body>
</html>