@model Calcpad.web.Data.Models.Order

<h1>Order Subscription</h1>

@{
var today = DateTime.Now.ToString("yyyy-MM-dd");
}

<form asp-action="Order">
    <div class="form-group">
        <label asp-for="ActivatedOn" class="control-label"></label>
        <input asp-for="ActivatedOn" type="date" min="@today" value="@today" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Order" class="btn btn-primary" />
    </div>
</form>