@page
@model Calcpad.web.ViewModels.OrderViewModel

@{
    if (ViewData is not null)
    {
        ViewData["Title"] = "Order Successful!";
    }
}

@section meta{
<meta name="description" content="Online math and engineering worksheets library">
<meta name="keywords" content="online,library,math,engineering,worksheets,category">
}

<head>
    <title>@ViewData?["Title"]</title>
</head>
<body>
<div>
    <h1>Order Successful!</h1>
    <p>Thank you for your order!</p>
</div>
</body>